body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section{
    border: 1px solid black;
    height:400px; 
    width:650px;
    overflow: scroll;
}
input{
    width:100px;
    height:20px;
}
.add{
    background-color: rgb(78, 216, 97);
    color: white;
    border-radius: 15px;
    border: none;
    padding:10px;
}
.footer{
    text-align: right;
}
table , tr, th{
    border:1px solid black;
    border-collapse: collapse;
    padding:10px;
    margin-top: 20px;
    

}
table th{
    width:120px;
}